*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
a{
    display: block;
}
p a{
    display: inline;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

form, input, textarea, select, button, label{
    font-family: inherit;
    font: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}
body{
    height: 100dvb;
    font-size: 100%;
    font-family: var(--tipo-principal);
    line-height: calc(1em + 0.5rem);
    background: linear-gradient(180deg, #B594EF 34.84%, #F9B13F 100%);
    background: #dbb94e8a;
    color: rgba(0, 0, 0, 0.70);
    font-family: "Alfa Slab One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.game{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    align-items: center;
    justify-content: space-around;
}
.gameConsole {
    border-radius: 30px 30px 80px 30px;
    border: 1px solid #DBB94E;
    background: #DBB94E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    align-items: center;
}
.gameConsole__screen {
    background: #B4D1CF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gameMessaje {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 17.5rem;
    width: 100%;
    gap: 1rem;
    font-size: clamp(1rem, 0.464rem + 1.429vw, 1.75rem);
}
.gameMessaje span {
    display: flex;
    justify-content: space-between;
}
.gameConsole__controls span img{
min-height: 2.5rem;
}
.gameConsole__controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 11.25rem;
    padding-top: 1rem;
}
.gameConsole__controls--top {
    grid-column: 2 / 3;
}
.gameConsole__controls--left {
    grid-row: 2 / 3;
    transform: rotate(270deg);
}
.gameConsole__controls--right {
    grid-area: 2 / 3 / 3 / 3;
    transform: rotate(90deg);
}
.gameConsole__controls--bottom {
    grid-area: 3 / 2 / 3 / 3;
    transform: rotate(180deg);
}
.finalMessageContainer {
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #B594EF 34.84%, #F9B13F 100%);
    color: rgba(0, 0, 0, 0.70);
    gap: 8px;
}
.finalMessageContainer--open {
    display: flex;
}
.finalMessageContainer p{
    font-size: 1.2rem;
    text-align: center;
}

/* btn */
.finalMessageContainer__btn {
  align-self: center;
  background-color: #f9b13fcf;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: flex;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10%;
}

.finalMessageContainer__btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.finalMessageContainer__btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media (width >= 320px) {

}
@media (width >= 375px) {
    .game {
        justify-content: space-evenly;
    }
}
@media (width >= 425px) {

}
@media (width >= 768px) {
    .game {
        max-width: 1200px;
        margin: auto;
    }
}
@media (width >= 1024px)and (height <= 1000px) {
    .game {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .finalMessageContainer__btn {
        margin-top:2%;
      }
}
@media (width >= 1024px)and (height > 1000px) {
    .game {
        flex-direction: column;
    }
}
@media (width >= 1440px)  {
    .finalMessageContainer__btn {
        margin-top:2%;
      }
}
@media (width >= 2560px) {

}